@media only screen and (max-width: 570px) {
    .teamContent {
      margin: 0;
      margin-top: 20px;
      margin-right: 5px;
      text-align: center;
    }
  
    .team {
      height: 50vh;
    }
  }