/* home.css */
#primary_container_for_home_page_content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
}
@media only screen and (max-width: 654px) {
  #primary_container_for_home_page_content {
    grid-template-rows: 100vh 50vh 100vh 25rem 100vh;
  }
}
@media only screen and (max-width: 520px) {
  #primary_container_for_home_page_content {
    grid-template-rows: 80vh 50vh 100vh 25rem 100vh;
  }
}
@media only screen and (max-width: 500px) {
  #primary_container_for_home_page_content {
    grid-template-rows: 60vh 50vh 100vh 25rem 100vh;
  }
}
@media only screen and (max-width: 385px) {
  #primary_container_for_home_page_content {
    grid-template-rows: 65vh 38vh 100vh 25rem 100vh;
  }
  @media only screen and (max-width: 330px) {
    #primary_container_for_home_page_content {
      grid-template-rows: 65vh 38vh 100vh 25rem 80vh;
    }
  }
}
/* events */
@media only screen and (max-width: 1300px) {
  .events {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* navbar */
@media only screen and (max-width: 1150px) {
  .navelements ul li {
    margin: 59px 20px 70px 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .navelements {
    justify-content: space-between;
  }
  .profile {
    margin-right: 20px;
  }
  .logo {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 880px) {
  .navelements ul li a {
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
  }
  .profile {
    width: 60px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .character-container {
    width: 80%;
    height: 80%;
    padding: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 720px) {
  .logo img {
    width: 80px;
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  .navelements ul {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .dot {
    display: none;
  }
}

/* home */
@media only screen and (max-width: 1300px) {
  html {
    overflow-x: hidden;
  }
  .image-container {
    margin-top: 10px;
    height: 18rem;
    width: auto;
  }
  #animation_container {
    height: 65vh;
    width: 65vh;
  }
  .frontleft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  /* .frontleft h2 {
    font-size: 3rem;
  } */
}
@media only screen and (max-width: 1170px) {
  .frontright {
    width: 50%;
  }
  .frontleft {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1110px) {
  .front {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    display: none;
  }
  .frontright {
    order: -1;
    width: 100%;
  }
  .frontleft {
    margin-top: 1rem;
    width: 95%;
    border: 0;
  }
  .frontleft h2 {
    margin: 0;
    margin-top: 10px;
    text-align: center;
  }
  .leftcontent {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }
  #animation_container {
    height: 60vh;
    width: 60vh;
  }
}
@media only screen and (max-width: 750px) {
  .frontleft h2 {
    font-size: 2rem;
  }
  .leftcontent {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 555px) {
  #animation_container {
    height: 55vh;
    width: 55vh;
  }
  .frontleft {
    margin-left: 0;
  }
  .front {
    height: 75vh;
  }
}
@media only screen and (max-width: 505px) {
  #animation_container {
    height: 45vh;
    width: 45vh;
  }
  .front {
    height: 60vh;
  }
}

/* @media only screen and (max-width: 470px) {
  #animation_container {
    height: 50vh;
    width: 50vh;
  }
  .frontleft h2 {
    font-size: 1.5rem;
  }
  .leftcontent {
    font-size: 0.8rem;
  }
} */
@media only screen and (max-width: 420px) {
  #animation_container {
    height: 35vh;
    width: 35vh;
  }
}
@media only screen and (max-width: 290px) {
  #animation_container {
    height: 30vh;
    width: 30vh;
  }
}

@media only screen and (max-width: 270px) {
  #animation_container {
    height: 25vh;
    width: 25vh;
  }
}

/* event */
@media only screen and (max-width: 1110px) {
  #slider {
    padding-top: 8rem;
  }
}
@media only screen and (max-width: 920px) {
  #slider {
    height: 60vh !important;
  }
}
@media only screen and (max-width: 730px) {
  .events {
    padding-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  #slider {
    height: 40vh !important;
  }
}
@media only screen and (max-width: 655px) {
  #slider {
    padding-top: 0;
  }
}
@media only screen and (max-width: 500px) {
  #slider {
    height: 30vh !important;
  }
}
@media only screen and (max-width: 400px) {
  #slider {
    height: 25vh !important;
  }
}

/* team */
@media only screen and (max-width: 1350px) {
  .teamContent {
    margin-left: 10px;
  }
  .topContainer {
    width: 45vh;
    height: 45vh;
  }
  .teamMembers {
    width: 65%;
  }
}
@media only screen and (max-width: 1170px) {
  .topContainer {
    width: 35vh;
    height: 35vh;
  }
}
@media only screen and (max-width: 1000px) {
  .teamContent {
    margin-left: 0px;
    margin-right: 10px;
    font-size: 20px;
  }
  .teamMembers {
    width: 65%;
  }
  .teamPanel {
    width: 25%;
  }
  .topContainer h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 890px) {
  .topContainer {
    width: 30vh;
    height: 30vh;
  }
  .teamContent {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  /* .teamMembers {
    flex-direction: row;
  }
  .topContainer {
    width: 90%;
    height: 400px;
  }
  .outerContainer {
    width: 90%;
    height: 75%;
    margin: auto;
  } */
}
@media only screen and (max-width: 730px) {
  .team {
    padding-top: 0;
  }
}
/* @media only screen and (max-width: 650px) {
  .teamMembers {
    width: 60%;
  }
  .teamPanel {
    width: 30%;
  }
  .topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .topContainer h2 {
    margin-top: 0;
  }
} */
@media only screen and (max-width: 570px) {
  .teamContent {
    margin: 0;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
  }
}
/* @media only screen and (max-width: 500px) {
  .outerContainer {
    height: 75%;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .topContainer {
    height: 15rem;
  }
} */
@media only screen and (max-width: 448px) {
  .topContainer {
    height: 25vh;
    width: 23vh;
  }
}
@media only screen and (max-width: 330px) {
  .topContainer {
    height: 22vh;
    width: 20vh;
  }
}
/* @media only screen and (max-width: 350px) {
  .outerContainer {
    height: 65%;
  }
  .topContainer h2 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 250px) {
  .outerContainer {
    height: 65%;
  }
  .topContainer {
    height: 10rem;
  }
} */




/* sponser */

@media only screen and (max-width: 1340px) {
  .sponserImages {
    height: 70%;
  }
}
@media only screen and (max-width: 1110px) {
  .sponserImages {
    height: 60%;
  }
}
@media only screen and (max-width: 935px) {
  .sponserImages {
    height: 50%;
  }
}
@media only screen and (max-width: 791px) {
    .sponsers {
      height: 100vh;
    }
    .sponserContainer{
        height: 75%;
      align-items: center;
    }
  }
@media only screen and (max-width: 730px) {
  #main_sponsers_container {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 650px) {
  .sponsers {
    padding-top: 0;
    height: 20rem;
    grid-template-rows: repeat(5, 4rem);
  }
  .sponserImages {
    height: 100%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .sponserContainer {
    height: 65%;
  }
}
@media only screen and (max-width: 440px) {
  .sponserContainer {
    height: 50%;
  }
}
@media only screen and (max-width: 365px) {
  .sponserContainer {
    height: 45%;
  }
}
@media only screen and (max-width: 320px) {
  .sponserContainer {
    height: 40%;
  }
}

/* @media only screen and (max-width: 395px) {
  .sponserImages {
    height: 100%;
    margin-left: 5px;
  }
  .sponserContainer {
    height: 55%;
  }
}
*/
@media only screen and (max-width: 295px) {
  .sponserContainer {
    height: 30%;
  }
}










/* faq */

@media only screen and (max-width: 1000px) {
  .FAQQuestion {
    font-size: 1rem;
  }
  .FAQAnswer {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 730px) {
  .FAQMainContainer {
    padding-top: 0;
  }
}
@media only screen and (max-width: 670px) {
  .FAQQuestion {
    font-size: 0.9rem;
  }
  .FAQAnswer {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 475px) {
  .FAQQuestion {
    font-size: 0.7rem;
  }
  .FAQAnswer {
    font-size: 0.7rem;
  }
  .FAQArrowDown {
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 370px) {
  .FAQQuestion {
    font-size: 0.6rem;
  }
  .FAQAnswer {
    font-size: 0.6rem;
  }
  .FAQArrowDown {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media only screen and (max-width: 300px) {
  .FAQQuestion {
    font-size: 0.5rem;
  }
  .FAQAnswer {
    font-size: 0.5rem;
  }
  .FAQArrowDown {
    width: 2.2rem;
    height: 2.2rem;
  }
}







/* footer */
@media only screen and (max-width: 900px) {
  .footer {
    justify-content: space-around;
  }
  .follow {
    margin-left: 0;
    margin-right: 15px;
  }
  .footer-content {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15px;
    margin-right: 0;
  }
  .footer .footer-content a {
    font-size: 0.8rem;
  }
  .footer .footer-content h2,
  .follow h2 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 580px) {
  .footer {
    flex-direction: column;
    height: 400px;
    align-items: center;
  }
  .footer-content {
    margin-bottom: 0;
    width: 95%;
  }
}
