@media screen and (min-width: 426px) and (max-width: 500px) {
  .background {
    width: 80%;
    left: 10%;
  }
  .background2 {
    width: 80%;
    left: 10%;
  }
  .background3 {
    width: 80%;
    left: 10%;
  }
  .background4 {
    width: 80%;
    left: 1%;
  }
  .form-container {
    left: 10%;
    width: 80%;
    padding: 20px 0;
  }
  .form-container2 {
    left: 10%;
    width: 80%;
    padding: 20px 0;
  }
  #signupButton {
    margin-top: 32px;
  }
  #signinButton {
    margin-top: 30px;
  }
  #swap_form_to_signup_text_container {
    margin-top: -10px;
  }
  #swap_form_to_signin_text_container {
    margin-top: -8px;
  }
}
