@media screen and (max-width: 1024px) {
  #back_btn_from_add_user_page {
    left: 4vw;
    width: 2.2vw;
  }

  .Admin_add_container {
    padding-left: 4.5vw;
  }
  #zestxlogoadminadduserpage {
    width: 8vw;
    top: 2vw;
  }
  #Add_user_button img {
    width: 1.7rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  #Add_user_button {
    font-size: 0.9rem;
  }
  .admit_add_user_details {
    font-size: 1rem;
  }
  #back_btn_from_add_user_page {
    left: 4vw;
    top: 4vw;
    width: 3.2vw;
  }
  #zestxlogoadminadduserpage {
    width: 9vw;
    top: 2vw;
    right: 4vw;
  }
}
