@media screen and (min-width: 426px) and (max-width: 491px) {
  .footer-content {
    margin: 25px 0px 0px 25px;
    width: fit-content;
    justify-content: unset;
  }
  .footer {
    height: 160px;
  }
  .follow img {
    margin-left: 0px;
    width: 19px;
  }
  a {
    font-size: 0.7rem;
    margin-bottom: 6px;
  }
  .footer h2 {
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  .follow {
    margin: 25px 25px 0 0;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 0%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
    font-size: 0.9rem;
  }
}