@media screen and (max-width: 626px) {
  .footer-content {
    margin: 5vw 0px 0px 3vw;
    width: 100%;
    justify-content: unset;
  }
  .footer {
    height: 31vw;
  }
  .follow img {
    margin-left: 1vw;
    width: 60vw;
  }
  a {
    font-size: 2.2vw;
    margin-bottom: 1.5vw;
  }
  .footer h2 {
    margin-left: 0;
    width: 25vw;
    font-size: 3vw;
    margin-bottom: 4vw;
  }
  .follow {
    margin: 5vw 3vw;
    margin-left: 0;
    width: 21vw;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 8%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
  }
  .follow img {
    width: 4.48vw;
  }
}
