@media screen and (min-width: 491px) and (max-width: 526px) {
  .footer-content {
    margin: 35px 0px 0px 32px;
    width: 100%;
    justify-content: unset;
  }
  .footer {
    height: 200px;
  }
  .follow img {
    margin-left: 0px;
    width: 19px;
  }
  a {
    margin-bottom: 6px;
    font-size: 0.8rem;
  }
  .footer h2 {
    margin-bottom: 26px;
    font-size: 1rem;
  }
  .follow {
    margin: 35px 35px 0 0;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 5%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
    font-size: 0.95rem;
  }
}