/* 
@media only screen and (max-width: 1150px) {
  .navelements ul li {
    margin: 59px 20px 70px 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .navelements {
    justify-content: space-between;
  }
  .profile {
    margin-right: 20px;
  }
  .logo {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 880px) {
  .navelements ul li a {
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
  }
  .profile {
    width: 60px;
    height: 60px;
    margin: auto;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img{
    width: 6rem;
  height: 5.5rem;
  }
  .character-container {
    width: 80%;
    height: 80%;
    padding: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 720px) {
  .logo img {
    width: 80px;
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  .navelements ul {
    display: none;
  }
  #hamburger_menu{
    display: block;
  }
  .logo{
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 0;
    left: 41.5%;
  }
}
@media only screen and (max-width: 506px) {
  .logo img{
    width: 4rem;
  height: 3.5rem;
  }
}

@media only screen and (max-width: 1400px) {
  .dot {
    display: none;
  }
} */

@media only screen and (max-width: 850px) {
  .navelements ul li a {
    font-size: 1.5vw;
  }
  .character-container {
    font-size: 2.5vw;
  }
  .navelements ul .dot {
    right: 57.5vw;
  }
  .dotteam {
    -webkit-transform: translateX(20vw);
    transform: translateX(20vw);
  }
  .dotsponsers {
    -webkit-transform: translateX(31vw);
    transform: translateX(31vw);
  }
  .dotfaq {
    -webkit-transform: translateX(41.5vw);
    transform: translateX(41.5vw);
  }
  .dotevents {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  .profile {
    width: 5vw;
    height: 5vw;
  }
  .character-container {
    width: 4vw;
    height: 4vw;
  }
}
@media only screen and (max-width: 750px) {
  .navelements ul {
    display: none;
  }
  #hamburger_menu {
    display: block;
  }
  .profile {
    width: 7vw;
    height: 7vw;
    margin-right: 5vw;
  }
  .character-container {
    width: 6vw;
    height: 6vw;
    font-size: 3.5vw;
  }
  .logo {
    margin: 0;
  }
  .logo img {
    width: 12vw;
    height: 12vw;
  }
  .navelements {
    position: relative;
  }
}
@media only screen and (max-width: 650px) {
  .profile {
    width: 11vw;
    height: 11vw;
    margin-right: 5vw;
  }
  .character-container {
    width: 9vw;
    height: 9vw;
    font-size: 6vw;
  }
  .logo img {
    width: 15vw;
    height: 15vw;
  }
  .logo {
    position: absolute;
    left: 42vw;
  }
}
@media only screen and (max-width: 415px) {
  .logo img {
    width: 19vw;
    height: 19vw;
  }
  .profile {
    width: 14vw;
    height: 14vw;
  }
  .character-container {
    width: 11vw;
    height: 11vw;
    font-size: 7vw;
  }
  #hamburgerMenuBars {
    width: 10vw !important;
  }
  .logo{
    left: 40vw;
  }
}
