* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  position: relative;
  background: linear-gradient(
    180deg,
    #0e1491 0%,
    #0e138e 19.05%,
    rgba(14, 16, 131, 0) 100%
  );
  width: 100%;
  height: 125px;
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  position: fixed;
  top: 0;
  align-items: center;
  left: 0;
  z-index: 105;
}
#hamburger_menu{
  display: none;
}
.logo {
  margin: 1.5625vw 0vw 1.4375vw 3.6875vw;
}
.logo img {
  width: 7vw;
  height: 7vw;
}
.navelements {
  display: flex;
}
.navelements ul {
  list-style: none;
  display: flex;
}
.navelements ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  color: #fdfdfd;
  margin: 0 1.875vw 0 1.875vw;
}
.navelements ul li a {
  display: flex;
  align-items: center;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.3125vw;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 0.625vw 0 0.625vw;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0;
}

.navactive a {
  color: #f1bbff !important;
}

.profile {
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 30px rgba(255, 242, 250, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  margin: 0 7vw 0 0.3125vw;
  border-radius: 50%;
}
.character-container {
  user-select: none;
  width: 3vw;
  height: 3vw;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 30px rgba(255, 242, 250, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  font-family: "Now";
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navelements ul .dot {
  width: 0.4375vw;
  height: 0.4375vw;
  background: #f1bbff;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 60%;
    right: 53.8vw;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dothome {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotevents {
  -webkit-transform: translateX(9.5625vw);
  transform: translateX(9.5625vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotteam {
  -webkit-transform: translateX(19vw);
  transform: translateX(19vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotsponsers {
  -webkit-transform: translateX(29.0625vw);
  transform: translateX(29.0625vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotfaq {
  -webkit-transform: translateX(38.75vw);
  transform: translateX(38.75vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}