
@media only screen and (max-width: 850px) {
  .navelements ul li a {
    font-size: 1.5vw;
  }
  .character-container {
    font-size: 2.5vw;
  }
  .navelements ul .dot {
    right: 57.5vw;
  }
  .dotteam {
    -webkit-transform: translateX(20vw);
    transform: translateX(20vw);
  }
  .dotsponsers {
    -webkit-transform: translateX(31vw);
    transform: translateX(31vw);
  }
  .dotfaq {
    -webkit-transform: translateX(41.5vw);
    transform: translateX(41.5vw);
  }
  .dotevents {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  .profile {
    width: 5vw;
    height: 5vw;
  }
  .character-container {
    width: 4vw;
    height: 4vw;
  }
}
@media only screen and (max-width: 750px) {
  .navelements ul {
    display: none;
  }
  #hamburger_menu {
    display: block;
  }
  .profile {
    width: 7vw;
    height: 7vw;
    margin-right: 5vw;
  }
  .character-container {
    width: 6vw;
    height: 6vw;
    font-size: 3.5vw;
  }
  .logo {
    margin: 0;
  }
  .logo img {
    width: 12vw;
    height: 12vw;
  }
  .navelements {
    position: relative;
  }
}
@media only screen and (max-width: 650px) {
  .profile {
    width: 11vw;
    height: 11vw;
    margin-right: 5vw;
  }
  .character-container {
    width: 9vw;
    height: 9vw;
    font-size: 6vw;
  }
  .logo img {
    width: 15vw;
    height: 15vw;
  }
  .logo {
    position: absolute;
    left: 42vw;
  }
}
@media only screen and (max-width: 415px) {
  .logo img {
    width: 19vw;
    height: 19vw;
  }
  .profile {
    width: 14vw;
    height: 14vw;
  }
  .character-container {
    width: 11vw;
    height: 11vw;
    font-size: 7vw;
  }
  #hamburgerMenuBars {
    width: 10vw !important;
  }
  .logo{
    left: 40vw;
  }
}
