/* @media only screen and (max-width: 1150px) {
  .navelements ul li {
    margin: 59px 20px 70px 20px;
  }
}
@media only screen and (max-width: 1050px) {
    .navelements{
        justify-content: space-between;
    }
    .profile{
        margin-right: 20px;
    }
    .logo{
        margin-left: 5px;
    }
}
@media only screen and (max-width: 880px) {
    .navelements ul li a {
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
    }
    .profile{
        width: 60px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .character-container{
        width: 80%;
        height: 80%;
        padding: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 720px) {
    .logo img{
        width: 80px;
        height:auto;
    }
}
@media only screen and (max-width: 650px) {
    .navelements ul{
        display: none;
    }
}
@media only screen and (max-width: 1400px) {
    .dot{
        display: none;
    }
}

 */
@media only screen and (max-width: 1150px) {
  .navelements ul li {
    margin: 59px 20px 70px 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .navelements {
    justify-content: space-between;
  }
  .profile {
    margin-right: 20px;
  }
  .logo {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 880px) {
  .navelements ul li a {
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
  }
  .profile {
    width: 60px;
    height: 60px;
    margin: auto;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img{
    width: 6rem;
  height: 5.5rem;
  }
  .character-container {
    width: 80%;
    height: 80%;
    padding: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 720px) {
  .logo img {
    width: 80px;
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  .navelements ul {
    display: none;
  }
  #hamburger_menu{
    display: block;
  }
  .logo{
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 0;
    left: 41.5%;
  }
}
@media only screen and (max-width: 506px) {
  .logo img{
    width: 4rem;
  height: 3.5rem;
  }
}

@media only screen and (max-width: 1400px) {
  .dot {
    display: none;
  }
}
