* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg_blend_of_home {
  height: 200vh;
  width: 100%;
  position: fixed;
  background: linear-gradient(180deg, #0e1391 0%, #0e0045 100%);
  z-index: -500;
}
.slide {
  position: absolute;
  top: 37vw;
  left: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border: none;
  opacity: 0.2;
  transition: all 500ms ease-out;
}
.slide:after {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  top: 0;
  left: 0;
  position: relative;
  /* background: rgba(0, 0, 0, 0.7); */
  content: "";
  display: inline-block;
  visibility: visible;
  z-index: 10;
}

.slide:checked:after {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  position: relative;
  background-color: #989cff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #989cff;
}
.slide:checked {
  opacity: 1;
}
#s1 {
  left: 47%;
}
#s2 {
  left: 48.5%;
}
#s4 {
  left: 51.5%;
}
#s5 {
  left: 53%;
}
#slider {
  height: 90vh;
  width: 100vw;
  position: relative;
  perspective: 550px;
  transform-style: preserve-3d;
  margin-top: 5vh;
}

.event_poster_image {
  user-select: none;
}
.event_poster_image img {
  height: 100%;
  width: 100%;
}
#slider label {
  margin: auto;
  width: 80vw;
  height: auto;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 800ms ease-in-out;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  transform: translate3d(30%, 0, -200px);
}
.events {
  padding-top: 80px;
}
@media only screen and (max-width: 1300px) {
  #slider {
    height: 43vw;
  }
}
@media only screen and (max-width: 1176px) {
  /* #slider {
      height: 80vh;
    } */
  #s1 {
    left: 44%;
  }
  #s2 {
    left: 47%;
  }
  #s4 {
    left: 53%;
  }
  #s5 {
    left: 56%;
  }
}
@media only screen and (max-width: 1060px) {
  .events {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 736px) {
  /* .events {
      padding-top: 0;
    } */
  #slider {
    height: 59vw !important;
  }
  .slide {
    top: 39vw;
  }
  .slide:after,
  .slide:checked:after {
    width: 0.5rem;
    height: 0.5rem;
  }
  .slide:checked:after {
    border: 4px solid #989cff;
  }
  #s1 {
    left: 42%;
  }
  #s2 {
    left: 46%;
  }
  #s4 {
    left: 54%;
  }
  #s5 {
    left: 58%;
  }
}
@media only screen and (max-width: 565px) {
  .slide {
    width: 0.8rem;
    height: 0.8rem;
    top: 41vw;
  }
  .slide:checked:after {
    border: 2px solid #989cff;
  }
  /* #slider {
      height: 40vh !important;
    } */
}
@media only screen and (max-width: 475px) {
  .slide {
    width: 0.7rem;
    height: 0.7rem;
  }
  .slide:checked:after {
    border: 1.5px solid #989cff;
    top: -3%;
  }
}
@media only screen and (max-width: 430px) {
  /* #slider {
      height: 33vh !important;
    } */
  #s1 {
    left: 40%;
  }
  #s2 {
    left: 45%;
  }
  #s4 {
    left: 55%;
  }
  #s5 {
    left: 60%;
  }
}
@media only screen and (max-width: 340px) {
  #s1 {
    left: 38%;
  }
  #s2 {
    left: 44%;
  }
  #s4 {
    left: 56%;
  }
  #s5 {
    left: 62%;
  }
}
