* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    position: relative;
  }
  #zestxlogoeditpage {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 6rem;
    height: 6rem;
  }
  .Main_Edit_Container {
    background: Linear-gradient(180deg, #0e1391 0%, #0e0045 100%);
    width: 100%;
    height: 100vh;
    padding-top: 4rem;
  }
  #BackEditButton a {
    text-decoration: none;
    font-family: "Now";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 5%;
  }
  
  .UserEditContainer {
    height: 70vh;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #efd5ff;
    transition: background-color 5000s ease-in-out 0s;
  }
  .UserDetailsInput {
    width: 35%;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #efd5ff;
    padding: 0.8rem;
    padding-left: 0;
    margin-bottom: 2rem;
    font-family: "Now";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #efd5ff;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input:focus {
    outline: none;
  }
  #ResetButton {
    width: 9rem;
    height: 3.54rem;
    background: linear-gradient(
      270deg,
      rgba(150, 4, 163, 0.6) 10%,
      rgba(49, 2, 149, 0.6) 99%
    );
    mix-blend-mode: normal;
    border: 2px solid #f9e8ff;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: "Now";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4375rem;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    margin-top: 5%;
  }
  .form-label {
    position: relative;
  }
  .floating {
    position: absolute;
    top: 20%;
    font-family: "Now";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #efd5ff;
    opacity: 0.7;
    transform: translateY(0px);
    transition: all 400ms ease-in-out;
  }
  #forgot_password_at_change_password_page {
    margin-top: -50px;
    margin-left: 360px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Now";
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
  }
  .UserDetailsInput:focus ~ .floating,
  .UserDetailsInput:not(:focus):valid ~ .floating {
    transform: translateY(-2rem);
    font-size: 1rem;
  }
  input[type="password"] {
    text-transform: none;
  }
  .floating {
    pointer-events: none;
  }
  @media only screen and (max-width: 1200px) {
    .UserDetailsInput {
      width: 60%;
    }
  }@media only screen and (max-width: 800px) {
    .UserDetailsInput {
      width: 80%;
    }
  }  @media only screen and (max-width: 550px) {
    .UserDetailsInput {
      width: 95%;
      font-size: 1rem;
    }
    .UserEditContainer {
      padding-left: 1rem;
    }
    #BackEditButton a {
      font-size: 1rem;
    }
    .floating {
      font-size: 0.8rem;
    }
    .UserDetailsInput:focus ~ .floating,
    .UserDetailsInput:not(:focus):valid ~ .floating {
      font-size: 0.6rem;
      transform: translateY(-1rem);
    }
    #ResetButton {
      width: 5rem;
      height: 2rem;
      font-size: .8rem;
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #toastAlertMessage {
    width: 450px;
    visibility: hidden;
    max-width: 4.125rem;
    height: 4.125rem;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 205;
    left: 0;
    right: 0;
    bottom: 3rem;
    font-size: 17px;
    white-space: nowrap;
    font-family: "Now";
    font-size: 400;
    text-transform: uppercase;
  }
  #toastAlertMessage {
    width: 4.125rem;
    height: 4.125rem;
    float: left;
    box-sizing: border-box;
  }
  #toastFrontMessage {
    width: 4.125rem;
    height: 4.125rem;
    float: left;
    box-sizing: border-box;
  }
   #toastDescriptionMessage {
    color: #fff;
    padding: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
  }
  #toastAlertMessage {
    color: #fff;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  #toastFrontMessage img {
    margin: auto;
    margin-top: 0.5625rem;
    width: 3rem;
    height: 3rem;
  }
  #toastAlertMessage.toastPopUp {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
      fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
      fadeout 0.5s 4.5s;
  }
  
  :root {
    --foo: 30ch;
  }
  
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes expand {
    from {
      min-width: 50px;
    }
    to {
      min-width: 350px;
    }
  }
  
  @keyframes expand {
    from {
      min-width: 50px;
    }
    to {
      min-width: var(--foo);
    }
  }
  @-webkit-keyframes stay {
    from {
      min-width: 350px;
    }
    to {
      min-width: 350px;
    }
  }
  
  @keyframes stay {
    from {
      min-width: var(--foo);
    }
    to {
      min-width: var(--foo);
    }
  }
  @-webkit-keyframes shrink {
    from {
      min-width: 350px;
    }
    to {
      min-width: 50px;
    }
  }
  
  @keyframes shrink {
    from {
      min-width: var(--foo);
    }
    to {
      min-width: 50px;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 60px;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 60px;
      opacity: 0;
    }
  }
  @media screen and (max-width: 768px) {
    #toastAlertMessage {
      font-size: 2.2vw;
      height: 8vw;
    }
    #toastFrontMessage img {
      margin: auto;
      margin-top: 1.5vw;
      width: 5vw;
      height: auto;
    }
    #toastFrontMessage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8vw;
      height: 8vw;
    }
    #toastDescriptionMessage {
      padding: 0;
      height: 8vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  