@media only screen and (max-width: 1270px) {
  .sponserImages {
    height: 80%;
  }
}
@media only screen and (max-width: 1165px) {
  .sponserImages {
    height: 75%;
  }
}
@media only screen and (max-width: 1105px) {
  .sponsers {
    padding-top: 50px;
  }
  .sponsers {
    height: 80vh;
    grid-template-rows: repeat(5, 14vh);
  }
}
@media only screen and (max-width: 1050px) {
  .sponserImages {
    height: 70%;
  }
}
@media only screen and (max-width: 910px) {
  .sponsers {
    height: 70vh;
    grid-template-rows: repeat(5, 13vh);
  }
  .sponserContainer {
    height: 100%;
  }
}
@media only screen and (max-width: 845px) {
  .sponsers {
    height: 60vh;
    grid-template-rows: repeat(5, 12vh);
  }
  .sponserContainer {
    height: 100%;
  }
}

@media only screen and (max-width: 795px) {
  .sponsers {
    padding-top: 0;
    height: 20rem;
    grid-template-rows: repeat(5, 4rem);
  }
  .sponserImages {
    height: 100%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .sponserImages {
    height: 80%;
  }
}
@media only screen and (max-width: 570px) {
  .sponserContainer {
    height: 100%;
  }
  .sponsers {
    padding-top: 0;
    height: 15rem;
    grid-template-rows: repeat(5, 3rem);
  }
}
@media only screen and (max-width: 730px) {
  #main_sponsers_container {
    padding-top: 0 !important;
  }
}
@media only screen and (max-width: 440px) {
  .sponserContainer {
    height: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .sponsers {
    padding-top: 0;
    height: 12rem;
    grid-template-rows: repeat(5, 2.4rem);
  }
  .sponserContainer {
    height: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .sponsers {
    padding-top: 0;
    height: 10rem;
    grid-template-rows: repeat(5, 2rem);
  }
  .sponserContainer {
    height: 100%;
  }
}

@media only screen and (max-width: 295px) {
  .sponserContainer {
    height: 100%;
  }
  .sponsers {
    padding-top: 0;
    height: 8rem;
    grid-template-rows: repeat(5, 1.4rem);
  }
}
