@media only screen and (max-width: 1300px) {
  /* .events {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  #slider {
    height: 85vh;
  }
  /* #slider label {
    width: 75%;
  height: auto;
  } */
}