@media only screen and (max-width: 736px) {
  /* .events {
    padding-top: 0;
  } */
  #slider {
    height: 59vw !important;
  }
  .slide {
    top: 39vw ;
  }
  .slide:after,
  .slide:checked:after {
    width: 0.5rem;
    height: 0.5rem;
  }
  .slide:checked:after {
    border: 4px solid #989cff;
  }
  #s1 {
    left: 42%;
  }
  #s2 {
    left: 46%;
  }
  #s4 {
    left: 54%;
  }
  #s5 {
    left: 58%;
  }
}