@media only screen and (max-width: 565px) {
  .slide {
    width: 0.8rem;
    height: 0.8rem;
    top: 41vw;
  }
  .slide:checked:after {
    border: 2px solid #989cff;
  }
  #slider {
    height: 40vh !important;
  }
}