.display_to_none {
  animation: to_opacity_none 0.3s ease-in-out 1;
  display: none;
}

@keyframes to_opacity_none {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.display_to_block {
  display: block;
  animation: to_display_block 0.3s ease-in-out 1;
}

@keyframes to_display_block {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
