@media only screen and (max-width: 720px) {
  .FAQQuestion {
    font-size: 0.7rem;
  }
  .FAQAnswer {
    font-size: 0.7rem;
  }
  .FAQArrowDown {
    width: 3rem;
  }
  .FAQMainContainer {
    height: 75vh;
  }
}