@media only screen and (max-width: 675px) {
  #EventDescription{
    width: 100%;
  }
  #EventDetailsContent {
    flex-direction: column;
    height: 100vh;
  }
  #EventDetailsLeftContainer {
    border: none;
    width: 100%;
    height: 55vh;
  }
  #EventDetailsRightContainer {
    width: 100%;
    padding-left: 0;
    height: 55vh;
  }
  #EventDetailsContainer {
    height: 120vh;
  }
  #EventRegister {
    margin-top: 0;
    height: 15%;
    width: 13rem;
  }
  #EventPrizes,
  #EventRules,
  #EventVenue,
  #EventDescription {
    margin-top: 0;
  }
}