@media only screen and (max-width: 850px) {
  .navelements ul li a {
    font-size: 1.5vw;
  }
  .character-container {
    font-size: 2.5vw;
  }
  .navelements ul .dot {
    right: 57.5vw;
  }
  .dotteam {
    -webkit-transform: translateX(20vw);
    transform: translateX(20vw);
  }
  .dotsponsers {
    -webkit-transform: translateX(31vw);
    transform: translateX(31vw);
  }
  .dotfaq {
    -webkit-transform: translateX(41.5vw);
    transform: translateX(41.5vw);
  }
  .dotevents {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  .profile {
    width: 5vw;
    height: 5vw;
  }
  .character-container {
    width: 4vw;
    height: 4vw;
  }
}
