@media only screen and (max-width: 415px) {
    .logo img {
      width: 19vw;
      height: 19vw;
    }
    .profile {
      width: 14vw;
      height: 14vw;
    }
    .character-container {
      width: 11vw;
      height: 11vw;
      font-size: 7vw;
    }
    #hamburgerMenuBars {
      width: 10vw !important;
    }
    .logo{
      left: 40vw;
    }
  }