@media only screen and (max-width: 430px) {
  /* #slider {
    height: 33vh !important;
  } */
  #s1 {
    left: 40%;
  }
  #s2 {
    left: 45%;
  }
  #s4 {
    left: 55%;
  }
  #s5 {
    left: 60%;
  }
}