@media only screen and (min-width: 626px) and (max-width: 768px) {
  #change_user_password_page_anim_container {
    padding: 8vw;
    padding-top: 4%;
    padding-bottom: 1%;
  }
  .user-datail-input-change-password-page {
    margin-bottom: 1.7rem;
    padding: 0.6rem;
    padding-left: 0;
    font-size: 1.1rem;
  }
  .floating-labels-change-password-page {
    font-size: 1rem;
  }
  #forgot_password_at_edit_profile_page {
    margin-top: 8%;
  }
  .user-datail-input-change-password-page:focus
    ~ .floating-labels-change-password-page,
  .user-datail-input-change-password-page:not(:focus):valid
    ~ .floating-labels-change-password-page {
    transform: translateY(-2rem);
    font-size: 0.7rem;
  }
  #zestxlogoeditpage {
    width: 9vw;
  }
  #UpdateButton {
    font-size: 1.1rem;
  }
  #back_edit_button_from_change_pswd_page a {
    font-size: 2vw;
  }
  #back_edit_button_from_change_pswd_page img {
    width: 2.5vw;
  }
  #back_edit_button_from_change_pswd_page {
    top: 4.54vw;
  }
}
@media only screen and (max-width: 626px) {
  .main_edit_container_edit_pswd {
    flex-direction: column-reverse;
  }

  .user_edit_container_change_password_page {
    width: 100%;
    justify-content: unset;
    align-items: center;
    padding: 0 6.5vw 0 6.5vw;
  }
  #change_user_password_page_anim_container {
    width: 100vw;
    padding-top: 20vw;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    height: 50vh;
  }
  .user-datail-input-change-password-page {
    margin-bottom: 1.2rem;
    padding: 0.6rem;
    padding-left: 0;
    font-size: 1.1rem;
  }
  .floating-labels-change-password- {
    font-size: 1rem;
  }
  #forgot_password_at_change_password_page {
    margin-top: 5%;
  }
  .user-datail-input-change-password-page:focus
    ~ .floating-labels-change-password-page,
  .user-datail-input-change-password-page:not(:focus):valid
    ~ .floating-labels-change-password-page {
    transform: translateY(-3.5vw);
    font-size: 0.7rem;
  }
  #zestxlogoeditpage {
    width: 15vw;
    top: 1%;
  }
  #UpdateButton {
    font-size: 1rem;
    padding: 2.2vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 2%;
  }
  #back_edit_button_from_change_pswd_page a {
    font-size: 4vw;
  }
  #back_edit_button_from_change_pswd_page img {
    width: 4.5vw;
  }
  #back_edit_button_from_change_pswd_page {
    width: 80vw;
    top: 6vw;
  }
}

@media only screen and (max-width: 425px) {
  .user-datail-input-change-password-page {
  margin-bottom: 3.2vw;
  padding: 1.6vw;
  padding-left: 0;
  font-size: 4.9vw;
  padding-top: 3vw;
  }
  .floating-labels-change-password-page {
    top: 24%;
    font-size: 4.2vw;
}
}
