@media only screen and (max-width: 1200px) {
    .user-datail-input-change-password-page {
        width: 60%;
    }
}
@media only screen and (max-width: 800px) {
    .user-datail-input-change-password-page {
        width: 80%;
    }
}
@media only screen and (max-width: 550px) {
    .user-datail-input-change-password-page {
        width: 95%;
        font-size: 1rem;
    }
    .user_edit_container_change_password_page{
        padding-left: 1rem;
    }
    #back_edit_button_from_change_pswd_page a{
        font-size: 1rem;
    }
    #back_edit_button_from_change_pswd_page img{
        width: 2rem;
    }
    .floating-labels-change-password-page{
        font-size: 0.8rem;
    }
    .user-datail-input-change-password-page:focus ~ .floating-labels-change-password-page, .user-datail-input-change-password-page:not(:focus):valid ~ .floating-labels-change-password-page {
        font-size: 0.6rem;
        transform: translateY(-1rem);
    }
    #UpdateButton{
        width: 8rem;
        height: 3rem;
        font-size: 1.2rem;
    }
}