@media only screen and (max-width: 1330px) {
  .UserLeftContainer {
    padding-left: 2rem;
  }
  #UserContainer {
    grid-template-columns: 40% 60%;
  }
  /* .UserDetailsInputProfileDatailsPage{
    font-size: 1.2rem;
  } */
  .UserDetailsInputProfileDatailsPage::placeholder {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1225px) {
  .OngoingEvents h2,
  .Pastevents h2 {
    font-size: 1.2rem;
  }
  #EditButton {
    font-size: 1.2rem;
  }
  #LogoutButton img {
    width: 66%;
  }
}
@media only screen and (max-width: 1024px) {
  .OngoingEvents h2,
  .Pastevents h2 {
    height: 10%;
  }
  .UserRightContainer {
    margin-bottom: 4vh;
  }
  .EventList h2 {
    height: auto;
  }
  #BackUserButton a {
    font-size: 1.5rem;
  }
  #BackUserButton a {
    width: 5%;
  }
  #UserContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  #MainUserContainer {
    height: auto;
  }
  .UserLeftContainer {
    padding-top: 0;
    height: 41vh;
    border-right: 0;
    padding-left: 3.5rem;
  }
  #profile_page_header {
    padding-left: 2.5rem;
  }
  #button_container {
    width: fit-content;
  }
  #EditButton,
  #ChangePasswordButton {
    margin-right: 3vw;
  }
  #profile_page_header img {
    margin-left: 0;
  }
  .UserDetailsInputProfileDatailsPage {
    padding-bottom: 1em;
  }
}
@media only screen and (max-width: 725px) {
  .UserLeftContainer {
    padding-left: 5.4vw;
  }
  .UserDetailsInputProfileDatailsPage {
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
  }
  .UserLeftContainer {
    height: 28vh;
  }
  input#name {
    margin-top: -6vh;
  }
  #EditButton,
  #ChangePasswordButton {
    font-size: 1rem;
    padding-bottom: 0.4rem;
  }
  #LogoutButton {
    margin-top: 1vw;
  }
  #EditButton img,
  #ChangePasswordButton img {
    display: none;
  }
  #profile_page_header {
    padding-left: 2.5rem;
  }
  .OngoingEvents h2,
  .Pastevents h2 {
    font-size: 1.1rem;
  }
}
