* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
#zestxlogo {
  position: absolute;
  border: 0.7rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  top: 1.3vw;
}
#MainUserContainer {
  background: url("../../../assets/home_page/events_details/rangshala_bg.svg"),
    Linear-gradient(180deg, #0e1391 0%, #0e0045 100%);
  width: 100%;
  height: 100vh;
  /* padding-top: 4rem  ; */
}
#profile_page_header a {
  text-decoration: none;
  font-family: "Now";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 1.3vw;
}
#profile_page_header {
  padding-left: 3.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
}
#profile_page_header img {
  cursor: pointer;
  margin-right: 1.7%;
  margin-left: 0.5%;
  width: 1.7rem;
  margin-top: 1vw;
}

#UserContainer {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 100%;
  margin-top: 1rem;
}
.UserLeftContainer {
  height: 80vh;
  padding-left: 5rem;
  border-right: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.UserDetailsInputProfileDatailsPage {
  width: 80%;
  background: transparent;
  border: 0px;
  /* border-bottom: 2px solid #efd5ff; */
  padding-bottom: 1.8rem;
  /* padding-top: 1rem; */
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #efd5ff;
}
input#name {
  margin-top: -10vh;
}
.UserDetailsInputProfileDatailsPage::placeholder {
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.625rem;
  text-transform: uppercase;
  color: #efd5ff;
  opacity: 0.5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
}
#EditButton,
#ChangePasswordButton {
  cursor: pointer;
  width: auto;
  height: auto;
  background: linear-gradient(
    270deg,
    rgba(150, 4, 163, 0.6) 10%,
    rgba(49, 2, 149, 0.6) 99%
  );
  mix-blend-mode: normal;
  border: 2px solid #f9e8ff;
  box-shadow: 0px 3px 9px rgb(0 0 0 / 25%);
  border-radius: 7px;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1.2vw;
  padding: 0.8vw 2vw 0.8vw 2vw;
  margin-right: 2vh;
}
#LogoutButton {
  cursor: pointer;
  margin-top: 1.8vw;
  width: 7rem;
}
#button_container {
  padding-right: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#EditButton img,
#ChangePasswordButton img {
  width: 20px;
  margin-left: 5px;
  height: auto;
}
.UserRightContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  height: 80vh;
}
.OngoingEvents,
.Pastevents {
  width: 90%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.OngoingEvents h2,
.Pastevents h2 {
  height: 10%;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fdfdfd;
  opacity: 0.8;
}
.Pastevents h2 {
  margin-top: 0.4vh;
}
#OngoingEventsList,
#PastEventsList {
  display: flex;
  flex-direction: column;
  height: 85%;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: inset 17.91rem 3px 12rem rgba(255, 242, 250, 0.1);
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 7px;
  padding-bottom: 6px;
}
#OngoingEventsList::-webkit-scrollbar,
#PastEventsList::-webkit-scrollbar {
  display: none;
}
.EventList {
  width: 97%;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  background: linear-gradient(
    270.46deg,
    rgba(255, 79, 206, 0.6) -24.06%,
    rgba(86, 6, 255, 0.6) 105.66%
  );
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
.EventList h2 {
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  height: auto;
  margin-top: 1vw;
  margin-left: 0.4vw;
}
.EventList h4 {
  font-family: "Now";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 0.4vw;
  margin-left: 0.4vw;
  margin-bottom: 0.6vw;
}
/* .EventContent {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  max-width: 100%;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  padding-top: 5px;
  padding-bottom: 5px;
} */
input[type="password"] {
  text-transform: none;
}
