@media only screen and (max-width: 1300px) {
    html {
      overflow-x: hidden;
    }
    .image-container {
      margin-top: 10px;
      height: 18rem;
      width: auto;
    }
    #animation_container {
      height: 65vh;
      width: 65vh;
    }
    .frontleft {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }