@media only screen and (max-width: 420px) {
    #animation_container {
      height: 35vh;
      width: 35vh;
    }
    .frontleft h2 , .home_section_heading{
      font-size: 1.1rem;
    }
    .leftcontent {
      font-size: 0.6rem;
    }
    .front {
      height: 50vh;
    }
    .home{
      height: 68vh;
    }
  }