@media screen and (min-width: 526px) and (max-width: 626px) {
  .footer-content {
    margin: 38px 0px 0px 34px;
    width: 100%;
    justify-content: unset;
  }
  .footer {
    height: 200px;
  }
  .follow img {
    margin-left: 2px;
    width: 19px;
  }
  a {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }
  .footer h2 {
    margin-bottom: 26px;
    font-size: 1.1rem;
  }
  .follow {
    margin: 38px 36px;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 8%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
  }
  .follow img {
    width: 28px;
  }
}