@media only screen and (max-width: 1000px) {
  .FAQQuestion {
    font-size: 0.8rem;
  }
  .FAQAnswer {
    font-size: 0.8rem;
  }
  .FAQArrowDown {
    width: 3.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .FAQMainContainer {
    padding-top: 50px;
    height: 90vh;
  }
}
@media only screen and (max-width: 790px) {
  .FAQMainContainer {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 720px) {
  .FAQQuestion {
    font-size: 0.7rem;
  }
  .FAQAnswer {
    font-size: 0.7rem;
  }
  .FAQArrowDown {
    width: 3rem;
  }
  .FAQMainContainer {
    height: 75vh;
  }
}
@media only screen and (max-width: 475px) {
  .FAQQuestion {
    font-size: 0.6rem;
  }
  .FAQAnswer {
    font-size: 0.6rem;
  }
  .FAQArrowDown {
    width: 2rem;
  }
  .FAQMainContainer {
    height: 65vh;
  }
}
@media only screen and (max-width: 370px) {
  .FAQMainContainer {
    height: 55vh;
  }
}
@media only screen and (max-width: 370px) {
  .FAQQuestion {
    font-size: 0.5rem;
    padding-left: 1rem;
  }
  .FAQAnswer {
    font-size: 0.5rem;
  }
  .FAQArrowDown {
    width: 1.7rem;
  }
  .FAQAnswer {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 300px) {
  .FAQQuestion {
    font-size: 0.4rem;
  }
  .FAQAnswer {
    font-size: 0.4rem;
  }
  .FAQArrowDown {
    width: 1.5rem;
  }
}
