*{
	margin:0;
	padding:0;
}
section{
	background:#000;
	color: #fff;
}

body{
    position: relative;
}
body::-webkit-scrollbar{
	width:0;
}
#scrollPath{
	position:fixed;
	top:0;
	right:0;
	width:20px;
	height:100%;
	background: rgba(255,255,255,0.05);
}
#Progressbar{
	position:fixed;
	top:0;
	right:0;
	width:20px;
    /* height: ; */
	background: linear-gradient(to top, #008aff , #00ffe7);
	animation: animate 5s linear infinte;
}
@keyframes animate{
	0%,100%{
		filter:hue-rotate(0deg);
	}
	50%{filter: hue-rotate(360deg);}
}
#Progressbar::before{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: linear-gradient(to top, #008aff , #00ffe7);
	filter:blur(10px);
}
#Progressbar::after{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: linear-gradient(to top, #008aff , #00ffe7);
	filter:blur(30px);
}