@media screen and (min-width: 901px) and (max-width: 1024px) {
  #zestxlogoadminpage {
    top: 1%;
    right: 46vw;
    width: 8%;
  }
  .main_admin_container h2 {
    font-size: 1.2rem;
  }
  .main_admin_container {
    padding: 8vh 2.5vw;
    padding-bottom: 0;
  }
  #logout_button {
    top: 11.25%;
    width: 9vw;
  }
  .container_common_background {
    height: 86%;
  }
  .outer_left {
    height: 92vh;
  }
  .outer_middle {
    height: 92vh;
  }
  .outer_right {
    height: 92vh;
  }
  #internal_users_h3 {
    padding-top: 1rem;
  }
  .internal_users h3,
  .outer_users h3 {
    font-size: 1.1rem;
  }
  .inner_list h4 {
    font-size: 0.8rem;
  }
  .inner_list h3 {
    font-size: 1.1rem;
  }
  .InnerListContent {
    font-size: 0.8rem;
  }
  .right_h3 {
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  #zestxlogoadminpage {
    top: 1%;
    right: 45.5vw;
    width: 9%;
  }
  #secondh2 {
    justify-content: center;
    align-items: center;
  }
  .main_admin_container h2 {
    font-size: 1rem;
  }
  #add_user_plus_icon {
    margin-bottom: 3px;
  }
  .main_admin_container {
    padding: 8vh 2.5vw;
    padding-bottom: 0;
  }
  #logout_button {
    top: 11.25%;
    width: 10vw;
  }
  .container_common_background {
    height: 86%;
    border-radius: 0.5rem;
  }
  .outer_left {
    height: 92vh;
  }
  .outer_middle {
    height: 92vh;
  }
  .outer_right {
    height: 92vh;
  }
  #internal_users_h3 {
    padding-top: 1rem;
  }
  .internal_users h3,
  .outer_users h3 {
    font-size: 1.1rem;
  }
  .inner_list h4 {
    font-size: 0.8rem;
  }
  .inner_list h3 {
    font-size: 1.1rem;
  }
  .InnerListContent {
    font-size: 0.8rem;
  }
  .right_h3 {
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  #zestxlogoadminpage {
    top: 1%;
    right: 44vw;
    width: 12%;
  }
  #secondh2 {
    justify-content: center;
    align-items: center;
  }
  .internal_user_delete_button {
    width: 4vw;
  }
  .external_user_delete_button {
    width: 5vw;
  }
  #userListContainer {
    height: 70vh;
  }
  .main_admin_container h2 {
    font-size: 1rem;
    margin-bottom: 2%;
    height: auto;
  }
  #add_user_plus_icon {
    margin-bottom: 3px;
  }
  .main_admin_container {
    padding: 14vw 2.5vw;
    height: auto;
    padding-bottom: 0;
    grid-gap: 2vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  #logout_button {
    width: 12vw;
    top: 14vw;
  }
  .container_common_background {
    height: 45vw;
    border-radius: 0.5rem;
  }
  .outer_left {
    height: auto;
  }
  .outer_middle {
    height: auto;
  }
  .outer_right {
    height: 92vh;
  }
  #internal_users_h3 {
    padding-top: 1rem;
  }
  .internal_users h3,
  .outer_users h3 {
    font-size: 1.1rem;
  }
  .inner_list h4 {
    font-size: 0.8rem;
  }
  .inner_list h3 {
    font-size: 1.1rem;
  }
  .InnerListContent {
    font-size: 0.8rem;
  }
  .right_h3 {
    font-size: 1.1rem !important;
  }
}
