* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

#zestxlogoadminpage {
  position: absolute;
  top: 0;
  left: 91%;
  width: 6rem;
  height: 6rem;
}

#back_btn_from_add_user_page {
  position: absolute;
  top: 3%;
  left: 4%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.Main_Admin_Add_Container {
  background: url("../assets/home_page/events_details/rangshala_bg.svg"),
    Linear-gradient(180deg, #0e1391 0%, #0e0045 100%);
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
}

.Admin_add_container {
  height: 75vh;
  padding-left: 5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.admit_add_user_details {
  width: 40%;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #efd5ff;
  padding: 0.8rem;
  padding-left: 0;
  margin-bottom: 2rem;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #efd5ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

#Add_user_button {
  width: 15rem;
  height: 4rem;
  background: linear-gradient(
    270deg,
    rgba(150, 4, 163, 0.6) 10%,
    rgba(49, 2, 149, 0.6) 99%
  );
  mix-blend-mode: normal;
  border: 2px solid #f9e8ff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4375rem;
  text-transform: uppercase;
  margin-top: 3%;
  color: #ffffff;
  cursor: pointer;
}

#Add_user_button img {
  width: 25px;
  margin-left: 5px;
  height: auto;
}

.Label_section {
  position: relative;
}

.Label_floating {
  position: absolute;
  top: 20%;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #efd5ff;
  opacity: 0.7;
  transform: translateY(0px);
  transition: all 400ms ease-in-out;
}

.admit_add_user_details:focus ~ .Label_floating,
.admit_add_user_details:not(:focus):valid ~ .Label_floating {
  transform: translateY(-2rem);
  font-size: 1rem;
}
