* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.FAQMainContainer {
  width: 100%;
  height: 100vh;
  padding-top: 10.27rem;
}
.FAQContainer {
  width: 90%;
  max-height: 85%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 349px 4px 250px rgba(255, 242, 250, 0.1);
  border-radius: 12px;
  margin: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.FAQContainer::-webkit-scrollbar {
  display: none;
}

.FAQQuestion {
  background-color: transparent;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #bfbeff;
  padding: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.FAQQuestion h2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.FAQAnswer {
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #cdcee6;
  padding-top: 0;
  background-color: transparent;
  max-height: 0rem;
  overflow: hidden;
  margin-left: 2rem;
  transition: max-height 0.4s ease-out;
  border-bottom: 1px solid #f8e6ff;
}
.FAQAnswer p{
  margin-bottom: 1rem;
}
.ArrowRotate{
  animation-name: rotate_arrow_faq;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}
.ArrowRotate2{
  animation-name: rotate_arrow_faq_2;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}
@keyframes rotate_arrow_faq {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}
@keyframes rotate_arrow_faq_2 {
  from{
    transform: rotate(180deg);
  }
  to{
    transform: rotate(0deg);
  }
}