/* footer
@media only screen and (max-width: 900px) {
    .footer {
      justify-content: space-around;
    }
    .follow {
      margin-left: 0;
      margin-right: 15px;
    }
    .footer-content {
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 15px;
      margin-right: 0;
    }
    .footer .footer-content a {
      font-size: 0.8rem;
    }
    .footer .footer-content h2,
    .follow h2 {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 580px) {
    .footer {
      flex-direction: column;
      height: 400px;
      align-items: center;
    }
    .footer-content {
      margin-bottom: 0;
      width: 95%;
    }
  }
   */
@media screen and (min-width: 426px) and (max-width: 491px) {
  .footer-content {
    margin: 25px 0px 0px 25px;
    width: fit-content;
    justify-content: unset;
  }
  .footer {
    height: 160px;
  }
  .follow img {
    margin-left: 0px;
    width: 19px;
  }
  a {
    font-size: 0.7rem;
    margin-bottom: 6px;
  }
  .footer h2 {
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  .follow {
    margin: 25px 25px 0 0;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 0%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 426px) {
  .footer-content {
    margin: 20px 0px 0px 20px;
    width: fit-content;
    justify-content: unset;
  }
  .footer {
    height: 125px;
  }
  .follow img {
    margin-left: 0px;
    width: 16px;
  }
  a {
    font-size: 0.5rem;
    margin-bottom: 4px;
  }
  .footer h2 {
    margin-bottom: 11px;
    font-size: 0.7rem;
  }
  .follow {
    margin: 25px 25px 0 0;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 0%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 491px) and (max-width: 526px) {
  .footer-content {
    margin: 35px 0px 0px 32px;
    width: 100%;
    justify-content: unset;
  }
  .footer {
    height: 200px;
  }
  .follow img {
    margin-left: 0px;
    width: 19px;
  }
  a {
    margin-bottom: 6px;
    font-size: 0.8rem;
  }
  .footer h2 {
    margin-bottom: 26px;
    font-size: 1rem;
  }
  .follow {
    margin: 35px 35px 0 0;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 5%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 526px) and (max-width: 626px) {
  .footer-content {
    margin: 38px 0px 0px 34px;
    width: 100%;
    justify-content: unset;
  }
  .footer {
    height: 200px;
  }
  .follow img {
    margin-left: 2px;
    width: 19px;
  }
  a {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }
  .footer h2 {
    margin-bottom: 26px;
    font-size: 1.1rem;
  }
  .follow {
    margin: 38px 36px;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 8%;
  }
  body > div.footer > div.follow > h2 {
    text-align: end;
  }
  .follow img {
    width: 28px;
  }
}
@media screen and (min-width: 626px) and (max-width: 726px) {
  .follow img {
    width: 28px;
  }
  .arrow {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 4%;
    left: 45%;
  }
  .footer-content {
    margin: 38px 41px;
    width: 60%;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
    width: 28px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
  .follow {
    margin: 37px 36px;
  }
}
@media screen and (min-width: 726px) and (max-width: 826px) {
  .footer-content {
    margin: 38px 41px;
    width: 60%;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
    width: 28px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
  .follow {
    margin: 37px 36px;
  }
}
@media screen and (min-width: 826px) and (max-width: 926px) {
  .footer-content {
    margin: 38px 41px;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 926px) and (max-width: 1026px) {
  .footer-content {
    margin: 41px 41px;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
  }
}
