/* @media only screen and (max-width: 1500px) {
    html{
        overflow-x: hidden;
    }
    .image-container{
        margin-top: 10px;
        height: 18rem;
        width: auto;
    }
    #animation_container{
        height: 68vh;
        width: 68vh;
    }
    .frontleft h2{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 1170px) {
    .frontright{
        width: 50%;
    }
    .frontleft{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 1110px) {
    .front{
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-container{
        display: none;
    }
    .frontright{
        order: -1;
        width: 100%;
    }
    .frontleft{
        margin-top: 1rem;
        width: 95%;
        border: 0;
    }
    .frontleft h2{
        margin: 0;
        margin-top: 10px;
        text-align: center;
    }
    .leftcontent{
        margin: 0;
        margin-top: 1rem;
        text-align: center;
    }
}
@media only screen and (max-width: 750px) {
    .frontleft h2{
        font-size: 2rem;
    }
    .leftcontent{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 545px) {
    #animation_container{
        height: 65vh;
        width: 65vh;
    }
}
@media only screen and (max-width: 470px) {
    #animation_container{
        height: 50vh;
        width: 50vh;
    }
    .frontleft h2{
        font-size: 1.5rem;
    }
    .leftcontent{
        font-size: .8rem;
    }
}
@media only screen and (max-width: 340px) {
    #animation_container{
        height: 45vh;
        width: 45vh;
    }
}
@media only screen and (max-width: 280px) {
    #animation_container{
        height: 40vh;
        width: 40vh;
    }
}
@media only screen and (max-width: 270px) {
    #animation_container{
        height: 25vh;
        width: 25vh;
    }
} */
@media only screen and (max-width: 1500px) {
  .frontleft h2 {
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 1370px) {
  #primnary_scroll_bar_container{
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  html {
    overflow-x: hidden;
  }
  .image-container {
    margin-top: 10px;
    height: 18rem;
    width: auto;
  }
  #animation_container {
    height: 65vh;
    width: 65vh;
  }
  .frontleft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
 
  /* .frontleft h2 {
      font-size: 3rem;
    } */
}
@media only screen and (max-width: 1170px) {
  .frontright {
    width: 50%;
  }
  .frontleft {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1110px) {
  .front {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    display: none;
  }
  .frontright {
    order: -1;
    width: 100%;
  }
  .frontleft {
    margin-top: 1rem;
    width: 95%;
    border: 0;
  }
  .frontleft h2 {
    margin: 0;
    margin-top: 10px;
    text-align: center;
  }
  .leftcontent {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }
  #animation_container {
    height: 60vh;
    width: 60vh;
  }
}
@media only screen and (max-width: 750px) {
  .frontleft h2 {
    font-size: 2rem;
  }
  .leftcontent {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 555px) {
  #animation_container {
    height: 55vh;
    width: 55vh;
  }
  .frontleft {
    margin-left: 0;
  }
  .front {
    height: 75vh;
  }
  .frontleft h2 {
    font-size: 1.7rem;
  }
  .leftcontent {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 505px) {
  #animation_container {
    height: 45vh;
    width: 45vh;
  }
  .front {
    height: 60vh;
  }
}

/* @media only screen and (max-width: 470px) {
    #animation_container {
      height: 50vh;
      width: 50vh;
    }
    .frontleft h2 {
      font-size: 1.5rem;
    }
    .leftcontent {
      font-size: 0.8rem;
    }
  } */
@media only screen and (max-width: 420px) {
  #animation_container {
    height: 35vh;
    width: 35vh;
  }
  .frontleft h2 {
    font-size: 1.5rem;
  }
  .leftcontent {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 320px) {
  .frontleft h2 {
    font-size: 1.4rem;
  }
  .leftcontent {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 290px) {
  #animation_container {
    height: 30vh;
    width: 30vh;
  }
}

@media only screen and (max-width: 270px) {
  #animation_container {
    height: 25vh;
    width: 25vh;
  }
}
