@media screen and (min-width: 926px) and (max-width: 1026px) {
  #sq1 {
    height: 50vh;
    width: auto;
    top: 31%;
  }
  #sq2 {
    height: 7%;
    top: 4%;
    left: 16%;
  }
  #sq4 {
    height: 11%;
  }
  #sq5 {
    height: 10%;
    right: 41%;
  }
  .girl {
    width: 36vw;
    position: relative;
    height: 46.8vw;
  }
  .head {
    height: 18vh;
    margin-top: 0%;
  }
  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 10%;
    margin-right: 8%;
    margin-top: 3%;
  } 
  
  #outline {
    height: 32%;
    width: auto;
    left: 45%;
    margin-top: -15px;
  }

  .text {
    font-size: 1.3rem;
    width: 48%;
  }
  #sq3 {
    height: 14%;
    top: 4%;
    right: 35%;
    width: auto;
  }
  #l2 {
    height: 2%;
    top: 14.5%;
    left: 48%;
    width: 13%;
  }
  .footer-content {
    margin: 41px 41px;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
  }
}