@media screen and (min-width: 1026px) and (max-width: 1266px) {
  #sq1 {
    height: auto;
    width: 35%;
    top: 26%;
  }
  #sq5 {
    height: 13%;
    right: 41%;
  }
  .content {
    height: 73%;
    margin-left: 13%;
    margin-right: 2%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }
  .girl {
    width: 33vw;
    position: relative;
    height: 42.9vw;
  }
  .head h1 {
    font-size: 2.8rem;
    left: 36%;
  }
  #outline {
    height: 32%;
    width: auto;
    left: 45%;
    margin-top: -15px;
  }

  .text {
    font-size: 1.4rem;
    width: 44%;
  }
  #sq3 {
    height: 14%;
    top: 4%;
    right: 35%;
    width: auto;
  }
  #l2 {
    height: 2%;
    top: 14.5%;
    left: 48%;
    width: 13%;
  }
}