@media screen and (min-width: 726px) and (max-width: 826px) {
  #sq1 {
    width: 47%;
    top: 30%;
    right: 0;
  }

  #sq2 {
    top: 6%;
    width: 6%;
    left: 8%;
  }

  #sq4 {
    top: 87%;
    left: 3%;
    width: 7%;
  }
  #sq5 {
    right: 43%;
    bottom: 7%;
    width: 8%;
  }

  .girl {
    width: 39vw;
    position: relative;
    height: 50.7vw;
  }
  .head {
    height: 16vw;
    margin-top: 17.5%;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 7%;
    margin-right: 5%;
    margin-top: 2%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 2.4rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  .text {
    font-size: 1.2rem;
    margin-right: 5%;
    width: 45%;
  }
  #sq3 {
    top: 3%;
    right: 48%;
    width: 8.5%;
  }
  #l1 {
    top: 88%;
    left: 5%;
    width: 9%;
  }
  #l2 {
    height: 1.6%;
    top: 9.5%;
    left: 39%;
    width: 11%;
  }
  .follow img {
    width: 28px;
  }
  .arrow {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 4%;
    left: 45%;
  }

  .footer-content {
    margin: 38px 41px;
    width: 60%;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
    width: 28px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
  .follow {
    margin: 37px 36px;
  }
}
