@media screen and (min-width: 826px) and (max-width: 926px) {
  body {
    overflow: hidden;
  }
  #sq1 {
    height: 56%;
    width: auto;
    top: 24%;
    right: -3%;
  }
  #sq2 {
    height: 7%;
    top: 4%;
    left: 16%;
  }
  #sq4 {
    height: 11%;
    top: 83%;
  }
  #sq5 {
    height: 8%;
    right: 43%;
    bottom: 7%;
  }

  .girl {
    width: 39vw;
    position: relative;
    height: 50.7vw;
  }
  .head {
    height: 18%;
    margin-top: 17.5%;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 2.4rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  .text {
    font-size: 1.2rem;
  }
  #sq3 {
    height: 11%;
    top: 3%;
    right: 39%;
    width: auto;
  }
  #l1 {
    top: 84%;
    left: 7%;
    width: 10%;
  }
  #l2 {
    height: 1.8%;
    top: 11.5%;
    left: 46%;
    width: 12%;
  }
  .follow img {
    width: 28px;
  }
  .footer-content {
    margin: 38px 41px;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
}