@media screen and (min-width: 1026px) and (max-width: 1266px) {
  #sq1 {
    height: 63%;
    width: auto;
    top: 26%;
  }
  #sq5 {
    height: 13%;
    right: 41%;
  }
  .content {
    height: 73%;
    margin-left: 16%;
    margin-right: 10%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }
  .girl {
    width: 33vw;
    position: relative;
    height: 42.9vw;
  }
  .head h1 {
    font-size: 2.8rem;
    left: 36%;
  }
  #outline {
    height: 32%;
    width: auto;
    left: 45%;
    margin-top: -15px;
  }

  .text {
    font-size: 1.4rem;
  }
  #sq3 {
    height: 14%;
    top: 4%;
    right: 35%;
    width: auto;
  }
  #l2 {
    height: 2%;
    top: 14.5%;
    left: 48%;
    width: 13%;
  }
}

@media screen and (min-width: 926px) and (max-width: 1026px) {
  #sq1 {
    height: 58%;
    width: auto;
    top: 25%;
  }
  #sq2 {
    height: 7%;
    top: 4%;
    left: 16%;
  }
  #sq4 {
    height: 11%;
  }
  #sq5 {
    height: 10%;
    right: 41%;
  }
  .girl {
    width: 36vw;
    position: relative;
    height: 46.8vw;
  }
  .head {
    height: 18%;
    margin-top: 17.5%;
  }
  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 14%;
    margin-right: 10%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 2.4rem;
    left: 36%;
  }
  #outline {
    height: 32%;
    width: auto;
    left: 45%;
    margin-top: -15px;
  }

  .text {
    font-size: 1.3rem;
  }
  #sq3 {
    height: 14%;
    top: 4%;
    right: 35%;
    width: auto;
  }
  #l2 {
    height: 2%;
    top: 14.5%;
    left: 48%;
    width: 13%;
  }
  .footer-content {
    margin: 41px 41px;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
  }
}

@media screen and (min-width: 826px) and (max-width: 926px) {
  body {
    overflow: hidden;
  }
  #sq1 {
    height: 56%;
    width: auto;
    top: 24%;
    right: -3%;
  }
  #sq2 {
    height: 7%;
    top: 4%;
    left: 16%;
  }
  #sq4 {
    height: 11%;
    top: 83%;
  }
  #sq5 {
    height: 8%;
    right: 43%;
    bottom: 7%;
  }

  .girl {
    width: 39vw;
    position: relative;
    height: 50.7vw;
  }
  .head {
    height: 18%;
    margin-top: 17.5%;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 2.4rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  .text {
    font-size: 1.2rem;
  }
  #sq3 {
    height: 11%;
    top: 3%;
    right: 39%;
    width: auto;
  }
  #l1 {
    top: 84%;
    left: 7%;
    width: 10%;
  }
  #l2 {
    height: 1.8%;
    top: 11.5%;
    left: 46%;
    width: 12%;
  }
  .follow img {
    width: 28px;
  }
  .footer-content {
    margin: 38px 41px;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 726px) and (max-width: 826px) {
  body {
    overflow: hidden;
  }
  #sq1 {
    height: 56%;
    width: auto;
    top: 24%;
    right: -3%;
  }

  #sq2 {
    height: 6%;
    top: 6%;
    left: 8%;
  }

  #sq4 {
    height: 8%;
    top: 87%;
    left: 3%;
  }
  #sq5 {
    height: 8%;
    right: 43%;
    bottom: 7%;
  }

  .girl {
    width: 39vw;
    position: relative;
    height: 50.7vw;
  }
  .head {
    height: 18%;
    margin-top: 17.5%;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 7%;
    margin-right: 1%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 2.4rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  .text {
    font-size: 1.2rem;
    margin-right: 5%;
  }
  #sq3 {
    height: 9%;
    top: 3%;
    right: 48%;
    width: auto;
  }
  #l1 {
    top: 88%;
    left: 5%;
    width: 9%;
  }
  #l2 {
    height: 1.6%;
    top: 9.5%;
    left: 39%;
    width: 11%;
  }
  .follow img {
    width: 28px;
  }
  .arrow {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 4%;
    left: 45%;
  }

  .footer-content {
    margin: 38px 41px;
    width: 60%;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
    width: 28px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
  .follow {
    margin: 37px 36px;
  }
}

@media screen and (min-width: 626px) and (max-width: 726px) {
  body {
    overflow: hidden;
  }
  #sq1 {
    height: 52%;
    width: auto;
    top: 25%;
    right: -8%;
  }

  #sq2 {
    height: 6%;
    top: 6%;
    left: 8%;
  }

  #sq4 {
    height: 8%;
    top: 87%;
    left: 3%;
  }
  #sq5 {
    height: 8%;
    right: 43%;
    bottom: 7%;
  }

  .girl {
    width: 42vw;
    position: relative;
    height: 54.6vw;
  }
  .head {
    height: 15%;
    margin-top: 25.5%;
  }
  .btn {
    font-size: 15px;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 6%;
    margin-right: 1%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 2.1rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  #slogan_text {
    margin-top: 32%;
  }
  .text {
    font-size: 1rem;
    margin-right: 5%;
  }
  #sq3 {
    height: 9%;
    top: 3%;
    right: 48%;
    width: auto;
  }
  #l1 {
    top: 88%;
    left: 5%;
    width: 9%;
  }
  #l2 {
    height: 1.6%;
    top: 9.5%;
    left: 39%;
    width: 11%;
  }
  .follow img {
    width: 28px;
  }
  .arrow {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 4%;
    left: 45%;
  }
  .footer-content {
    margin: 38px 41px;
    width: 60%;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
    width: 28px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
  .follow {
    margin: 37px 36px;
  }
}

@media screen and (min-width: 526px) and (max-width: 626px) {
  body {
    overflow: hidden;
  }
  #sq1 {
    height: 46%;
    width: 54%;
    top: 32%;
    right: -8%;
  }

  #sq2 {
    height: 6%;
    top: 6%;
    left: 8%;
  }

  #sq4 {
    height: 8%;
    top: 87%;
    left: 3%;
  }
  #sq5 {
    height: 8%;
    right: 43%;
    bottom: 7%;
  }

  .girl {
    width: 42vw;
    position: relative;
    height: 54.6vw;
  }
  .head {
    height: 15%;
    margin-top: 29.5%;
  }
  .btn {
    font-size: 15px;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 6%;
    margin-right: 1%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 1.8rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  #slogan_text {
    margin-top: 32%;
  }
  .text {
    font-size: 0.9rem;
    margin-right: 5%;
    height: 76%;
  }
  #sq3 {
    height: 9%;
    top: 3%;
    right: 48%;
    width: auto;
  }
  #l1 {
    top: 88%;
    left: 5%;
    width: 9%;
  }
  #l2 {
    height: 1.6%;
    top: 9.5%;
    left: 39%;
    width: 11%;
  }
  .follow img {
    width: 28px;
  }
  .arrow {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 4%;
    left: 45%;
  }
  .footer-content {
    margin: 38px 0px 0px 34px;
    width: 100%;
    justify-content: unset;
  }
  .footer {
    height: 200px;
  }
  .follow img {
    margin-left: 2px;
    width: 19px;
  }
  a {
    font-size: 0.8rem;
  }
  .footer h2 {
    margin-bottom: 26px;
    font-size: 1.1rem;
  }
  .follow {
    margin: 38px 36px;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 8%;
  }
  body > div.footer > div.follow > h2{
    text-align: end;
  }
}
@media screen and (min-width: 200px) and (max-width: 526px) {

  body {
    overflow: scroll;
  }
  #sq1 {
    height: 46%;
    width: 54%;
    top: 32%;
    right: -8%;
  }

  #sq2 {
    height: 6%;
    top: 6%;
    left: 8%;
  }

  #sq4 {
    height: 8%;
    top: 87%;
    left: 3%;
  }
  #sq5 {
    height: 8%;
    right: 43%;
    bottom: 7%;
  }

  .girl {
    width: 42vw;
    position: relative;
    height: 54.6vw;
  }
  .head {
    height: 15%;
    margin-top: 29.5%;
  }
  .btn {
    font-size: 15px;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    width: 100%;
    flex-direction: column-reverse;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 1.8rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  #slogan_text {
    margin-top: 32%;
  }
  .text {
    font-size: 0.9rem;
    margin-right: 5%;
    height: auto;
  }
  #sq3 {
    height: 9%;
    top: 3%;
    right: 48%;
    width: auto;
  }
  #l1 {
    top: 88%;
    left: 5%;
    width: 9%;
  }
  #l2 {
    height: 1.6%;
    top: 9.5%;
    left: 39%;
    width: 11%;
  }
  .follow img {
    width: 28px;
  }
  .arrow {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 4%;
    left: 45%;
  }
  .footer-content {
    margin: 38px 0px 0px 34px;
    width: 100%;
    justify-content: unset;
  }
  .footer {
    height: 200px;
  }
  .follow img {
    margin-left: 2px;
    width: 19px;
  }
  a {
    font-size: 0.8rem;
  }
  .footer h2 {
    margin-bottom: 26px;
    font-size: 1.1rem;
  }
  .follow {
    margin: 38px 36px;
  }
  .tc {
    margin-left: 5%;
  }
  .help {
    margin-left: 8%;
  }
  body > div.footer > div.follow > h2{
    text-align: end;
  }
}
