* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background: linear-gradient(
    180deg,
    #0e1491 0%,
    #0e138e 19.05%,
    rgba(14, 16, 131, 0) 100%
  );
  width: 100%;
  height: 125px;
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  left: 0;
  z-index: 1000;
}
.logo {
  margin: 25px 0px 23px 59px;
}
.logo img {
  width: 7rem;
  height: 6.5rem;
}
.navelements {
  display: flex;
}

.navelements .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #ff1847;
}
.navelements ul {
  list-style: none;
  display: flex;
}
.navelements ul li {
  cursor: pointer;
  font-size: 21px;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  color: #fdfdfd;
  margin: 59px 30px 70px 30px;
}

/* .navelements ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 21px;
  font-family: "Now";
  font-style: normal;
  font-weight: 500;
  color: #fdfdfd;
  margin: 59px 10px 70px 10px;
  text-transform: uppercase;
} */

.navelements ul li a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 59px 10px 70px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* .navelements ul li a:hover {
  color: #f1bbff;
} */

.navelements ul .dot {
  width: 7px;
  height: 7px;
  background: #f1bbff;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 54%;
  right: 57.55%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dothome {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotevents {
  -webkit-transform: translateX(153px);
  transform: translateX(153px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotteam {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotsponsers {
  -webkit-transform: translateX(465px);
  transform: translateX(465px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.dotfaq {
  -webkit-transform: translateX(620px);
  transform: translateX(620px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navactive a {
  color: #f1bbff !important;
}

.profile {
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 30px rgba(255, 242, 250, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 26px;
  margin: 34px 112px 49px 5px;
}
.character-container {
  user-select: none;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 30px rgba(255, 242, 250, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 27px;
  margin: 6px;
  font-family: "Now";
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  padding: 14px 22px 4px 22px;
  cursor: pointer;
}
