* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-image: url("../assets/signin_signup_Page/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

h1 {
  margin: 30px auto;
  font-family: "Now";
  font-weight: bold;
  font-style: normal;
  color: white;
  mix-blend-mode: lighten;
  font-size: 35px;
  opacity: 0.8;
}
.form-container {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  height: auto;
  border-radius: 15px;
}
.form-container2 {
  position: absolute;
  top: 25%;
  left: 10%;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  height: auto;
  border-radius: 15px;
}
.display-class {
  display: none !important;
  transition: display 200ms ease-in-out;
}
.opacity-class {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: both;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.background {
  background: url("../assets/signin_signup_Page/containerbg.svg");
  width: 400px;
  top: 10%;
  left: 10%;
  position: absolute;
  border-radius: 15px;
  height: 565px;
  mix-blend-mode: hard-light;
  opacity: 0.7;
  box-shadow: inset 0px 4px 57px rgba(247, 249, 255, 0.15);
}
.background2 {
  background: url("../assets/signin_signup_Page/containerbg.svg");
  width: 400px;
  top: 10%;
  left: 10%;
  position: absolute;
  border-radius: 15px;
  mix-blend-mode: overlay;
  opacity: 1;
  height: 565px;
  z-index: -1;
}
.background3 {
  background: url("../assets/signin_signup_Page/containerbg.svg");
  width: 400px;
  top: 25%;
  left: 10%;
  position: absolute;
  border-radius: 15px;
  height: 371px;
  mix-blend-mode: hard-light;
  opacity: 0.7;
  box-shadow: inset 0px 4px 57px rgba(247, 249, 255, 0.15);
}
.background4 {
  background: url("../assets/signin_signup_Page/containerbg.svg");
  width: 400px;
  top: 25%;
  left: 10%;
  position: absolute;
  border-radius: 15px;
  mix-blend-mode: overlay;
  opacity: 1;
  height: 371px;
  z-index: -1;
}
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  margin-bottom: 30px;
}
input {
  margin: 10px;
  padding: 12px;
  border: 1px solid #020b60;
  background: transparent;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  color: white;
  opacity: 0.8;
  font-family: "Now";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.btn {
  width: 35%;
  position: relative;
  margin: auto;
  padding: 10px;
  font-family: "Now";
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  background: linear-gradient(51.67deg, #020b61 -25.3%, #2a3cae 123.28%);
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}
.btn:hover {
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.9);
}

.form-container div,
.form-container2 div {
  margin: auto;
  color: white;
  font-family: "Now";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
div span {
  color: #020b61;
  font-family: "Now";
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
}
#forgot_password {
  margin: auto;
  padding-top: 5px;
  color: #020b61;
  font-family: "Now";
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
}
.form-label {
  width: 100%;
  position: relative;
  margin: 10px !important;
}
.floating {
  display: inline;
  position: absolute;
  top: 28%;
  left: 6%;
  color: white;
  opacity: 0.6;
  font-family: "Now";
  font-weight: 500;
  font-style: normal;
  font-size: 16px !important;
  transition: all 0.2s ease-in-out;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:focus ~ .floating,
input:not(:focus):valid ~ .floating {
  top: -30%;
  left: 0%;
  font-size: 12px !important;
}
input:focus {
  outline: none;
}
input[type="password"] {
  text-transform: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #efd5ff;
  transition: background-color 5000s ease-in-out 0s;
}
