@media only screen and (max-width: 1000px) {
    
  .sponserImages {
    height: 80%;
    margin-left: 10px;
  }
  .sponserContainer {
    height: 30%;
  }
}
@media only screen and (max-width: 640px) {
    .sponserImages {
      height: 70%;
      margin-left: 10px;
    }
    .sponserContainer {
      height: 25%;
    }
  }
  @media only screen and (max-width: 480px) {
    
    .sponserImages {
      height: 70%;
      margin-left: 10px;
    }
    .sponserContainer {
      height: 20%;
    }
  }
  @media only screen and (max-width: 395px) {
    .sponserImages {
      height: 70%;
      margin-left: 10px;
    }
    .sponserContainer {
      height: 15%;
    }
  }
  @media only screen and (max-width: 295px) {
    .sponserImages {
      height: 80%;
      margin-left: 10px;
    }
    .sponserContainer {
      height: 10%;
    }
  }