@media only screen and (max-width: 1480px) {
  .topContainer {
    width: 50vh;
    height: 50vh;
  }
}
@media only screen and (max-width: 1350px) {
  .teamContent {
    margin-left: 10px;
  }
  .topContainer {
    width: 50vh;
    height: 50vh;
  }
  .teamMembers {
    width: 65%;
  }
}
@media only screen and (max-width: 1170px) {
  .topContainer {
    width: 50vh;
    height: 50vh;
  }
  .team {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 1000px) {
  .teamContent {
    margin-left: 0px;
    margin-right: 10px;
    font-size: 20px;
  }
  .teamMembers {
    width: 65%;
  }
  .teamPanel {
    width: 25%;
  }
  .topContainer h2 {
    font-size: 20px;
  }
  .topContainer {
    width: 45vh;
    height: 45vh;
  }
}
@media only screen and (max-width: 890px) {
  .topContainer {
    width: 35vh;
    height: 35vh;
  }
  .teamContent {
    font-size: 15px;
  }
  .outerContainer {
    border-radius: 50px;
  }
  .imageHolder {
    border-radius: 56px;
  }
}

@media only screen and (max-width: 800px) {
  .team {
    height: 88vh;
  }
}
@media only screen and (max-width: 730px) {
  
  .topContainer {
    width: 30vh;
    height: 30vh;
  }
  .outerContainer {
    border-radius: 30px;
  }
  .imageHolder {
    border-radius: 30px;
  }
  .team {
    height: 70vh;
  }
}
@media only screen and (max-width: 650px) {
  .topContainer {
    width: 25vh;
    height: 25vh;
  }
}

@media only screen and (max-width: 570px) {
  .teamContent {
    margin: 0;
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
  }
  .imageHolder {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
  .topContainer h2 {
    font-size: 15px;
    margin-top: 10px;
  }
  .topContainer {
    margin-top: 30px;
  }
  .team {
    height: 50vh;
  }
}

@media only screen and (max-width: 550px) {
  .topContainer {
    height: 20vh;
    width: 20vh;
  }
  .outerContainer {
    border-radius: 15px;
  }
  .imageHolder {
    border-radius: 15px;
  }
}
@media only screen and (max-width: 420px) {
  .topContainer {
    height: 15vh;
    width: 15vh;
  }
  .topContainer h2 {
    font-size: 10px;
  }
  .teamContent {
    font-size: 11px;
}
.team {
  height: 40vh;
}
.teamMembers {
  border-radius: 20px;
}
}
@media only screen and (max-width: 330px) {
  .topContainer {
    height: 13vh;
    width: 13vh;
  }

}
