* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#toastAlertMessage {
  /* visibility: hidden; */
  max-width: 3.125rem;
  height: 3.125rem;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 2rem;
  font-size: 17px;
  white-space: nowrap;
  font-family: "Now";
  font-size: 400;
  text-transform: uppercase;
}
#toastAlertMessage #toastFrontMessage {
  width: 3.125rem;
  height: 3.125rem;
  float: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}
#toastAlertMessage #toastDescriptionMessage {
  color: #fff;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

#toastAlertMessage.toastPopUp {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}
