@media only screen and (max-width: 1330px) {
  .UserLeftContainer {
    padding-left: 2rem;
  }
  #UserContainer {
    grid-template-columns: 40% 60%;
  }
  /* .UserDetailsInput{
        font-size: 1.2rem;
    } */
  .UserDetailsInput::placeholder {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1225px) {
  .OngoingEvents h2,
  .Pastevents h2 {
    font-size: 1.2rem;
  }
  #EditButton {
    font-size: 1.2rem;
  }
  #LogoutButton img {
    width: 66%;
  }
}
@media only screen and (max-width: 960px) {
  .OngoingEvents h2,
  .Pastevents h2 {
    height: 20%;
  }
  .EventList h2 {
    height: auto;
  }
  #BackUserButton a {
    font-size: 1.5rem;
  }
  #BackUserButton a {
    width: 5%;
  }
}
