@media screen and (min-width: 626px) and (max-width: 726px) {
  body {
    overflow: hidden;
  }
  #sq1 {
    width: 48%;
    top: 32%;
    right: 0;
  }

  #sq2 {
    width: 7%;
    top: 6%;
    left: 8%;
  }

  #sq4 {
    width: 8%;
    top: 87%;
    left: 3%;
  }
  #sq5 {
    width: 8%;
    right: 43%;
    bottom: 7%;
  }

  .girl {
    width: 42vw;
    position: relative;
    height: 54.6vw;
  }
  .head {
    height: 17vw;
    margin-top: 11.5%;
  }
  .btn {
    font-size: 15px;
  }
  #ph5 {
    left: 37%;
  }
  #ph4 {
    left: 35%;
  }

  .btn-div {
    margin-top: 22%;
  }
  .content {
    height: 73%;
    margin-left: 6%;
    margin-right: 1%;
    margin-top: 3%;
  }
  .text {
    margin-top: -5%;
    margin-right: 5%;
  }

  .head h1 {
    font-size: 2.1rem;
    left: 20%;
  }
  #outline {
    height: 20%;
    width: auto;
    left: 45%;
    margin-top: 0px;
  }
  #signupbutton {
    padding-top: 4.2%;
  }
  #slogan_text {
    margin-top: 19%;
  }
  .text {
    font-size: 1rem;
    margin-right: 5%;
  }
  #sq3 {
    width: 9%;
    top: 3%;
    right: 48%;
  }
  #l1 {
    top: 88%;
    left: 5%;
    width: 9%;
  }
  #l2 {
    height: 1.6%;
    top: 9.5%;
    left: 39%;
    width: 11%;
  }
  .follow img {
    width: 28px;
  }
  .arrow {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 4%;
    left: 45%;
  }
  .footer-content {
    margin: 38px 41px;
    width: 60%;
  }
  .footer {
    height: 230px;
  }
  .follow img {
    margin-left: 8px;
    width: 28px;
  }
  a {
    font-size: 0.9rem;
  }
  .footer h2 {
    margin-bottom: 24px;
    font-size: 1.2rem;
  }
  .follow {
    margin: 37px 36px;
  }
}
