@media only screen and (max-width: 515px) {
  #EventDetailsContainer {
    height: 135vh;
  }
  #EventDetailsLeftContainer {
    height: 60vh;
  }
  #EventDetailsRightContainer {
    height: 60vh;
  }
  #EventDetailsContent {
    height: 117vh;
  }
}